body {
  text-align: center;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}

.top-container {
  background-color: #98ddca;
  height: 550px;
}

h1 {
  font-family: "helvetica", sans-serif;
}

/* 16px = 100% = 1em */
/* em 은 상위 폰트 사이즈와 중복 됨 -> rem은 상위 설정값에서 부터 독립적으로 사용 됨 */

.top-cloud {
  position: relative;
  top: 200px;
  left: 400px;
}

.bottom-cloud {
  position: absolute;
  color: white;
  margin-top: 60px;
  margin-left: -80px;
}

/*  기본 display: block; */
/*  display: inline-block; */
/*   이거는 정렬을 옆으로 할 수 있으며 넓이 값도 적용이 가능하다. */
/*   기본 display: inline; */
/*   인라인은 너비값이 적용되지 않는다 */
